<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/bettertogether.png" alt="">
  </div>
  <div class="headings">
    
    
    <a href="/form" class="btn">Create Form</a>
  </div>
</header>


<%- include('partials/footer'); -%>